<!DOCTYPE html>
{% autoescape true %}
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">

  <body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <h1 class="text-center">Hello, {{ user }}.
    {% if mood %}
     <span id="mood"> You are {{ mood }} today </span>
    {% else %}
      <span id="mood">What is your mood today?</span>
    {% endif %}
    </h1>
    <div class="row">
      <div class="col-md-3 col-xs-6 col-md-offset-3">
        <div class="row" id="smile_row" onclick="$('#smile_form').submit()">
        <form method="POST" role="form" id="smile_form">
        <input type="hidden" name="mood" value="smile"/>
          <div class="col-xs-12 text-center">
            <img class="img-circle" src="/images/smile.png"/>
          </div>
          <div class="col-xs-12 text-center" id="smile_count">{{ smile_count }}</div>
          </form>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="row" id="cry_row" onclick="$('#cry_form').submit()">
        <form method="POST" role="form" id="cry_form">
        <input type="hidden" name="mood" value="cry"/>
            <div class="col-xs-12 text-center"><img class="img-circle" src="/images/cry.png"/></div>
            <div class="col-xs-12 text-center" id="cry_count">{{ cry_count }}</div>
        </form>
        </div>
      </div>
    </div>
    {% if redirect %}
    <script type="text/javascript">
    document.location = "{{ redirect }}";
    </script>>
    {% endif %}
  </body>
</html>
{% endautoescape %}
